<div>
  <h2>Register</h2>
  <form (submit)="onRegister()">
    <input
      type="text"
      [(ngModel)]="firstName"
      name="firstName"
      [ngModelOptions]="{ standalone: true }"
      placeholder="firstName"
      required
    />
    <input
      type="text"
      [(ngModel)]="lastName"
      name="lastName"
      [ngModelOptions]="{ standalone: true }"
      placeholder="lastName"
      required
    />
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Email"
      required
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Password"
      required
    />
    <!-- <input
      type="password"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Confirm Password"
      required
    /> -->
    <button type="submit">Register</button>
  </form>
  <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
